<% include ../partes/cabecalho %>
    <div class="row">
        <% if(postagens.length > 0) {
            for (var i = 0; i < postagens.length; i++) { %>
            <div class="col s12">
                <div class="card postagem" style="cursor: pointer;" onclick="window.location.href='/detalhe/<%=postagens[i]._id%>'">
                    <p class="titulo-postagem">
                        <%=postagens[i].titulo%>
                    </p>
                    <p class="categoria-postagem">
                        <%=postagens[i].categoria%>
                    </p>
                </div>
            </div>
            <%
            }
        } else {
            %>
                <div class="col s12">
                    <div class="card postagem">
                        <p class="conteudo-postagem">
                            (Não há postagens disponíveis)
                        </p>
                    </div>
                </div>
                <%
        }
        %>
    </div>
    <% include ../partes/rodape %>