<% include ../partes/cabecalho %>
    <form method="post" action="/postar/salvar">
        <div class="campo">
            <label for="titulo">Título</label>
            <input type="text" name="titulo" id="titulo" method="get">
        </div>
        <div class="campo input-field">
            <select name="categoria">
                <option value="">Selecione uma opção</option>
                <option value="Jogos">Jogos</option>
                <option value="Notícias">Notícias</option>
                <option value="Aleatórios">Aleatórios</option>
            </select>
        </div>
        <div class="campo">
            <label for="postagem">Postagem</label>
            <textarea name="postagem" id="postagem" class="materialize-textarea"></textarea>
        </div>
        <div class="campo">
            <button class="btn waves-effect waves-light">Gravar</button>
        </div>
    </form>

    <script>
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>