<!doctype html>
<html>

<head>
    <title>Blog do Uezima - Workshop Mackenzie</title>
    <meta charset="utf-8">

    <meta name="author" title="Guilherme Uezima, Otávio R. Rossi">
    <link rel="author" href="http://otavio.rrossi.eti.br" title="Otávio R. Rossi">
    <link rel="author" href="https://www.linkedin.com/in/guilherme-uezima-a2931a65" title="Guilherme Uezima">

    <link rel="icon" href="/img/uezima.png">

    <link href="/css/geral.css" rel="stylesheet" type="text/css" media="all">
    <link href="/css/materialize.min.css" rel="stylesheet" type="text/css" media="all">

    <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
</head>

<body>
    <header>
        <nav class="light-blue lighten-1" role="navigation">
            <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Blog do Uezima</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="http://inopus.com.br" target="_blank">Inopus</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div id="tudo" class="container">
        <div class="section">